.header-holder {
	position: relative;
	background-color: $pink-gray;

	.container {
		padding: 0;
	}

	@media (min-width: 1200px) {
		padding-top: 30px;
	}
}

.header {
	background: black;
	padding: 15px;

	@media (min-width: 768px) and (orientation: landscape) {
		padding: 0;
	}
}

nav {
	display: inline-block;
	vertical-align: top;

	

	@media (min-width: 768px) {
		display: block;
		overflow: hidden;
	}

	&:hover {

		.nav {
			transform: translateX(0);
		}
	}
}

.nav-opener {
	display: inline-block;
	vertical-align: top;
	width: 50px;
	height: 50px;
	position: relative;
	border: 2px solid white;
	border-radius: 4px;

	&:before,
	&:after,
	span {
		height: 4px;
		width: 30px;
		position: absolute;
		left: 8px;
		background: white;
		border-radius: 2px;
	}

	&:before,
	&:after {
		content: '';
		transition: .3s transform;
	}


	&:before {
		top: 10px;
	}

	&:after {
		top: 34px;
	}

	span {
		top: 22px;
		transition: .3s opacity;
	}

	&:hover {
		span {
			opacity: 0;
		}

		&:before {
			transform: rotate(45deg) translate(8px, 8px);
		}

		&:after {
			transform: rotate(-45deg) translate(8px, -8px);
		}

		@media (min-width: 768px) {
			
			+ .nav {
				max-height: 50vh;
			}
		}
	}

	@media (min-width: 768px) and (orientation: landscape) {
		display: none;
	}
}

.nav {
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	background: black;
	transform: translateX(-100%);
	transition: .3s transform;
	list-style: none;
	padding: 0 15px;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;

	@media (min-width: 768px) {
		position: static;
		transform: none;
		max-height: 0;
		transition: .3s max-height;
	}

	@media (min-width: 768px) and (orientation: landscape) {
		display: flex;
		justify-content: center;
		max-height: none;
	}

	a {
		display: block;
		text-decoration: none;
		padding: 15px;
		color: white;
		border-bottom: 2px solid white;
		transition: .3s background-color;

		@media (min-width: 768px) and (orientation: landscape) {
			border-bottom: 0;
		}

		&.active,
		&:hover {
			background: red;
		}
	}

	li {
		&:last-child {
			a {
				border-bottom: none;
			}
		}
	}
}


.intro {

	.container {
		padding: 0 15px;
	}
}

